@import 'utilidades/_header.scss';
@import 'utilidades/_body.scss';
@import 'utilidades/_footer.scss';

@import 'utilidades/variabes';

@import 'utilidades/mixin';



/*index*/


/*main*/

.main-uno {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 140px 10px 90px;

    .textos {
        text-align: center;
        font-weight: 200;
        font-size: 20px;
        line-height: 20px;
        margin-top: 100px;

        h1 {
            background-color: $color-secundario;
            color: $color-principal;
            border-radius: 15px;
            font-weight: 700;

            margin: 40px 0px;

            box-shadow: 1px 1px 10px $color-secundario;
            width: 200px;
            margin: 30px;
            padding: 10px;
            display: inline-block;
        }

        .boton {
            background-color: $color-terciario;
            color: black;
            margin: 40px;
            padding: 10px;
            display: inline-block;
            box-shadow: 2px 2px 5px $color-terciario;
            border-radius: 10px;
            font-weight: 550;

            &:hover {
                font-size: 25px;
                transition: 0.5s;
            }
        }
    }

    .img {
        img {
            width: 80%;
            margin: 100px;
            box-shadow: 5px 5px 20px $color-secundario;
            border-radius: 10px;
        }
    }
}

/* Media QR*/

/* Media QR Celular*/

@media screen and (max-width: 500px) {
    .main-uno {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        margin: 80px;
        padding: 1% 0px;

        .textos {
            margin-top: 1px;
        }

        .img {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;

            width: 400px;
            padding: 1% 0px;
            margin-bottom: 0px;
        }
    }

    .footer-main {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}

/*MQ tablet*/

@media screen and (min-width: 501px) and (max-width: 959px) {
    .mian-uno {
        .img {
            padding: 0px;
            justify-content: center;

            img {
                margin: 50px;
                width: 130%;
            }
        }
    }
}


/*nosotros*/

/*main*/

.main-dos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    div {
        .titulo {
            font-weight: 900;
            font-size: 250%;
        }

        .span {
            background-color: $color-secundario;
            color: $color-principal;
            padding: 10px;
            border-radius: 15px;
            font-weight: 900;
            font-size: 200%;
        }

        .texto-nosotros {
            font-weight: 200;
            font-size: 20px;
            line-height: 20px;
            margin: 70px;
        }

        .boton {
            background-color: $color-secundario;
            color: $color-principal;
            margin: 40px;
            padding: 10px;
            display: inline-block;
            box-shadow: 2px 2px 5px $color-principal;
            border-radius: 20px;

            font-size: 20px;
            font-weight: 700;

            &:hover {
                font-size: 25px;
                transition: 0.5s;
            }

            .app {
                text-decoration: none;
                color: $color-principal;
            }
        }
    }
}

.nosotros-sec {
    img {
        width: 30%;
        margin: 9%;
        box-shadow: 5px 5px 20px $color-secundario;
        border-radius: 10px;
    }
}

footer {
    a {
        .google {
            width: 40%;
        }
    }
}

/*MQ nosotros*/

/*celular*/

@media screen and (max-width: 500px) {
    .main-dos {
        div {
            .titulo {
                gap: 100px;

                .span {
                    font-size: 20px;
                    font-weight: 0;
                }
            }
        }
    }

    .nosotros-sec {
        .contenedor-img {
            display: flex;
            justify-content: center;

            .img-2 {
                display: none;
            }

            .img-1 {
                width: 60%;
            }
        }
    }

    .footer-nosot {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .google {
            display: none;
        }
    }
}

@media screen and (min-width: 501px) and (max-width: 959px) {
    .footer-nosot {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .google {
            display: none;
        }
    }
}


/*INSTALACIONES*/

.main-tres {
    div {
        h1 {
            margin: 60px;
            padding-top: 50px;
            font-weight: 900;

            .gimnasio {
                background-color: $color-secundario;
                color: $color-principal;
                padding: 10px;
                border-radius: 15px;
            }
        }
    }

    div {
        .texto {
            font-weight: 200;
            font-size: 20px;
            line-height: 20px;
            margin: 70px;
        }
    }

}

.instalaciones-sec {
    div {
        display: flex;
        justify-content: center;

        .mapa {
            margin: 60px 30px;
            width: 100%;
            height: 400px;
            border-radius: 30px;
        }
    }
}

/*MEDIA QR*/
/*Celular*/

@media screen and (max-width: 500px) {
    .main-tres {
        div {
            h1 {
                .gimnasio {
                    padding: 1px;
                    border-radius: 10px;
                }
            }
        }

        div {
            .texto {
                width: 400px;
            }
        }
    }

    .instalaciones-sec {
        div {
            .mapa {
                margin-top: 1px;
            }
        }
    }

    .footer-inst {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*PLANES*/

main {
    div {
        .titulo {
            margin-top: 100px;
            margin-bottom: 50px;
            font-weight: 900;
            text-align: center;

            .span {
                background-color: $color-secundario;
                color: $color-principal;
                padding: 10px;
                border-radius: 15px;
            }
        }
    }
}

.cajas {
    @include cajas-styles ($color-terciario , $color-principal , $color-secundario)
}

/*mq cajas*/

@media screen and (max-width: 500px) {
    .cajas {
        grid-template-columns: 1fr;
        row-gap: 50px;
        padding: 10px;

    }

    .footer-box {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 501px) and (max-width: 959px) {
    .cajas {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        padding: 20px;
    }
}


/*servicios*/

.main-cuatro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;

    div {
        .contenedor-titulo {
            margin: 60px;
            padding-top: 50px;
            font-weight: 900;

            .contenedor-span {
                background-color: $color-secundario;
                color: $color-principal;
                padding: 10px;
                border-radius: 15px;
            }
        }

        .texto-servicios {
            font-weight: 200;
            font-size: 20px;
            line-height: 20px;
            margin: 70px;
            width: 600px;
        }

        .sub-uno {
            margin: 60px;
            font-weight: 900;
            display: inline-block;
            background-color: $color-secundario;
            color: $color-principal;
            padding: 10px;
            border-radius: 15px;
        }

        .horarios {
            font-weight: 200;
            font-size: 20px;
            line-height: 20px;
            margin: 10px 150px;
        }

        div {
            .sub-dos {
                margin: 60px;
                font-weight: 900;
                display: inline-block;
                background-color: $color-secundario;
                color: $color-principal;
                padding: 10px;
                border-radius: 15px;
            }

            .contenedor-whatsapp {
                margin: 1px 60px;
                font-weight: 900;
                display: block;
                color: $color-secundario;
                padding: 10px;
                border-radius: 15px;
            }

            .numero-telefono {
                margin-top: 1px;
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    margin: 1px 60px;
                    margin-right: 1px;
                }

                p {
                    margin: 1px 60px;
                    margin-left: 10px;
                    font-weight: 900;
                }
            }
        }
    }

    section {
        .carousel-inner {
            background-color: $color-principal;
            width: 600px;
            margin: 0 auto;
            display: block;
            border-radius: 10px;
        }

        &.carousel-control-prev-icon,
        &.carousel-control-next-icon {
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
        }
    }
}

/*mq servicios*/

@media screen and (max-width: 500px) {
    .main-cuatro {
        display: block;
        justify-content: center;

        div {
            .contenedor-titulo {
                margin: 30px 10px;
                padding-top: 20px;

                .contenedor-span {
                    padding: 5px;
                }
            }

            .texto-servicios {
                width: 100%;
                margin: 20px;
            }

            .sub-uno,
            .sub-dos {
                margin: 20px;
                padding: 5px;
            }

            .horarios {
                margin: 5px 20px;
            }

            .numero-telefono {
                flex-direction: column;
                display: flex;

                p {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }

                img {
                    display: none;
                }
            }
        }

        section {
            .carousel-inner {
                width: 100%;
                margin: 40px;
            }
        }
    }

    .footer-serv {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 501px) and (max-width: 959px) {
    .main-cuatro {
        display: block;
        justify-content: center;
        margin-left: 20px;

        div {
            .contenedor-titulo {
                margin: 40px 20px;
                padding-top: 30px;
                font-size: 24px;

                .contenedor-span {
                    padding: 8px;
                }
            }

            .texto-servicios {
                width: 100%;
                margin: 30px;
            }

            .sub-uno,
            .sub-dos {
                margin: 30px;
                padding: 8px;
                font-size: 24px;
            }

            .horarios {
                margin: 10px 50px;
                font-size: 18px;
            }

            .contenedor-whatsapp {
                margin: 5px 20px;
                padding: 8px;
                font-size: 20px;
            }

            .numero-telefono {
                margin: 5px 40px;
                display: flex;
                justify-content: center;

                img {
                    width: 40px;
                    margin: 0 10px;
                }
            }
        }

        .section {
            .carousel-inner {
                width: 100%;
                margin: 20px;
            }
        }
    }
}