/*header*/

header .navbar .navbar-brand img {
    width: 180px;
}

header {
    color: black;
    background-color: #FFFFFF;
    margin: 30px 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 3px 3px 10px #FFFFFF;
    border-radius: 10px;

    font-weight: 200;
    font-size: 20px;


}

header ul a {
    list-style: none;
    text-decoration: none;
    color: black;
    position: relative;
}

body {
    background-color: black;
    color: white;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

header ul a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header ul a:hover::after {
    background-color: black;
}



/*Estilos de Main*/

.main-uno {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 140px 10px 90px;
}

.main-uno .textos h1 {
    background-color: white;
    color: black;
    border-radius: 15px;
    font-weight: 700;
}


.img img {
    width: 80%;
    margin: 100px;
    box-shadow: 5px 5px 20px #FFFFFF;
    border-radius: 10px;

}

.main-uno .textos {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    margin-top: 100px;
}

.main-uno .textos h1 {
    margin: 40px 0px;

    box-shadow: 1px 1px 10px white;
    width: 200px;
    margin: 30px;
    padding: 10px;
    display: inline-block;

}

.main-uno .textos .boton {
    background-color: #10A60F;
    color: black;
    margin: 40px;
    padding: 10px;
    display: inline-block;
    box-shadow: 2px 2px 5px #10A60F;
    border-radius: 10px;
    font-weight: 550;
}

.main-uno .boton:hover {
    font-size: 25px;
    transition: 0.5s;
}


/*Footer*/

footer {
    color: white;
    background-color: black;
    margin: 30px 60px;
    padding: 10px 140px 10px 140px;

    display: flex;
    justify-content: space-around;
    align-items: center;


    border-radius: 10px;

    font-weight: 200;
    font-size: 20px;
}

footer img {
    width: 130px;
    border-radius: 100px;
}


/* Media QR*/

/* Media QR Celular*/

@media screen and (max-width: 500px) {

    /*Header*/

    header ul a li {
        display: none;
    }

    header {
        background-color: white;
        box-shadow: none;
        margin: 30px;
    }

    .logo {
        width: 70px;
        border-radius: 10px;
    }

    /*Main*/

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        margin: 80px;
        padding: 1% 0px;
    }

    div.textos {
        margin-top: 1px;
    }

    .img {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        width: 400px;
        padding: 1% 0px;
        margin-bottom: 0px;
    }

    /*footer*/

    footer {
        display: flex;
        text-align: center;
        justify-content: center;

    }

    /*Section - Cajas*/

    .cajas {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        padding: 1% 0px;
        gap: 70px;
        margin: 70px;
        margin-top: 1px;
        background: none;
    }
}

/*MQ tablet*/

@media screen and (min-width: 501px) and (max-width: 959px) {

    /*Header*/

    header ul a li {
        display: none;
    }

    header {
        background-color: white;
        box-shadow: none;
        margin: 30px;
    }

    .logo {
        width: 150px;
        border-radius: 10px;
    }
    main .img {
        padding: 0px;
        justify-content: center;
        img{
            margin: 50px;
            width: 130%;
        }
    }
}

/*Nosotros*/


/*Main*/

.main-dos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}



.titulo {
    font-weight: 900;
    font-size: 250%;
    
}

.main-dos div .span {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
    font-weight: 900;
    font-size: 200%;
}

.texto-nosotros {
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    margin: 70px;
}

.boton {
    background-color: #FFFFFF;
    color: black;
    margin: 40px;
    padding: 10px;
    display: inline-block;
    box-shadow: 2px 2px 5px #000;
    border-radius: 20px;

    font-size: 20px;
    font-weight: 700;
}

.boton:hover {
    font-size: 25px;
    transition: 0.5s;
}

.boton .app {
    text-decoration: none;
    color: black;
}

/*section*/

.nosotros-sec img{
    width: 30%;
    margin: 9%;
    box-shadow: 5px 5px 20px #FFFFFF;
    border-radius: 10px;
}

/*footer*/
footer a .google{
    width: 40%;
    
}

footer {
    color: white;
    background-color: black;
    margin: 30px 60px;
    padding: 10px 140px 10px 140px;

    display: flex;
    justify-content: space-around;
    align-items: center;


    border-radius: 10px;

    font-weight: 200;
    font-size: 20px;
}
footer .logym{
    width: 130px;
    border-radius: 100px;
}

@media screen and (max-width: 500px) {

    /*Header*/

    header ul a li {
        display: none;
    }

    header {
        background-color: white;
        box-shadow: none;
        margin: 30px;
    }

    .logo {
        width: 70px;
        border-radius: 10px;
    }

    /*main*/
    .titulo  {
        gap: 100px;
        .span{
            font-size: 20px;
            font-weight: 0;
        }
    }

    .img-2{
        display: none;
    }

    .contenedor-img {
        display: flex;
        justify-content: center;
        img{
            width: 60%;
        }
    }

    /*footer*/

    .google {
        display: none;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}

@media screen and (min-width: 501px) and (max-width: 959px) {
    .google {
        display: none;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


/*instalaciones*/

/*Main*/

h1 {
    margin: 60px;
    padding-top: 50px;
    font-weight: 900;
}

.gimnasio {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
}

.texto {
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    margin: 70px;
}

/*section*/

.instalaciones-sec div {
    display: flex;
    justify-content: center;
}
.mapa {
    margin: 60px 30px;
    width: 100%;
    height: 400px;
    border-radius: 30px;
}

/*footer*/
footer {
    color: white;
    background-color: black;
    margin: 30px 60px;
    padding: 10px 140px 10px 140px;

    display: flex;
    justify-content: space-around;
    align-items: center;


    border-radius: 10px;

    font-weight: 200;
    font-size: 20px;
}
footer img{
    width: 130px;
    border-radius: 100px;
}


/*Planes*/

/*main*/

.titulo {
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 900;
    text-align: center;
}

.span {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
}

/*cajas - section*/


.cajas {
    display: grid;
    grid-template-columns: 25% 25% 25%;

    justify-content: center;

    column-gap: 50px;

    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(147, 149, 153, 1) 35%, rgba(147, 149, 153, 1) 65%, rgba(0, 0, 0, 1) 100%);

    padding: 5% 0px;

    background: none;

}


.cajas .caja-1 {
    background-color: #10A60F;
    width: 100%;
    height: fit-content;

    text-align: center;

    border-radius: 20px;
    box-shadow: 1px 1px 30px #10a60f;

    .encabezado {
        height: fit-content;
        margin: 0px;
        padding: 15px;
    }

    .titulo {
        font-size: 5rem;
    }

    .subtitulo {
        font-size: 3rem;
        line-height: 15px;
    }

    .precio {
        background-color: black;
        padding: 2rem;
        border: solid 8px;
        border-color: #10A60F;
        border-radius: 20px;
    }

    .moneda {
        font-size: 1rem;
    }

    .numero {
        font-size: 2rem;
    }

    .descripcion-contenedor {
        margin: 20px;
        padding-top: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
    }

    .comprar {
        background-color: #FFFFFF;
        color: #10A60F;
        margin: 40px;
        padding: 10px;
        display: inline-block;
        box-shadow: 2px 2px 5px #000;
        border-radius: 20px;

        font-size: 20px;
        font-weight: 600;
    }

}

.cajas .caja-2 {
    background-color: #10A60F;
    width: 100%;
    height: fit-content;

    text-align: center;

    border-radius: 20px;
    box-shadow: 1px 1px 30px #10a60f;

    .encabezado {
        height: fit-content;
        margin: 0px;
        padding: 15px;
    }

    .titulo {
        font-size: 5rem;
    }

    .subtitulo {
        font-size: 3rem;
        line-height: 15px;
    }

    .precio {
        background-color: black;
        padding: 2rem;
        border: solid 8px;
        border-color: #10A60F;
        border-radius: 20px;
    }

    .moneda {
        font-size: 1rem;
    }

    .numero {
        font-size: 2rem;
    }

    .descripcion-contenedor {
        margin: 20px;
        padding-top: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
    }

    .comprar {
        background-color: #FFFFFF;
        color: #10A60F;
        margin: 40px;
        padding: 10px;
        display: inline-block;
        box-shadow: 2px 2px 5px #000;
        border-radius: 20px;

        font-size: 20px;
        font-weight: 600;
    }

}

.cajas .caja-3 {
    background-color: #10A60F;
    width: 100%;
    height: fit-content;

    text-align: center;

    border-radius: 20px;
    box-shadow: 1px 1px 30px #10a60f;

    .encabezado {
        height: fit-content;
        margin: 0px;
        padding: 15px;
    }

    .titulo {
        font-size: 5rem;
    }

    .subtitulo {
        font-size: 3rem;
        line-height: 15px;
    }

    .precio {
        background-color: black;
        padding: 2rem;
        border: solid 8px;
        border-color: #10A60F;
        border-radius: 20px;
    }

    .moneda {
        font-size: 1rem;
    }

    .numero {
        font-size: 2rem;
    }

    .descripcion-contenedor {
        margin: 20px;
        padding-top: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
    }

    .comprar {
        background-color: #FFFFFF;
        color: #10A60F;
        margin: 40px;
        padding: 10px;
        display: inline-block;
        box-shadow: 2px 2px 5px #000;
        border-radius: 20px;

        font-size: 20px;
        font-weight: 600;
    }
}

.cajas .comprar:hover {
    font-size: 25px;
    transition: 0.5s;
}


/*footer*/

footer {
    color: white;
    background-color: black;
    margin: 30px 60px;
    padding: 10px 140px 10px 140px;

    display: flex;
    justify-content: space-around;
    align-items: center;


    border-radius: 10px;

    font-weight: 200;
    font-size: 20px;
}
footer img{
    width: 130px;
    border-radius: 100px;
}

/*servicios*/

/*main*/

.main-cuatro {
    display: inline-block;
}

.contenedor-titulo {
    margin: 60px;
    padding-top: 50px;
    font-weight: 900;
}

.contenedor-span {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
}

.texto-servicios {
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    margin: 70px;
    width: 600px;
}

.sub-uno {
    margin: 60px;
    font-weight: 900;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
}
.sub-dos {
    margin: 60px;
    font-weight: 900;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
}

.horarios {
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 150px;
}


.contenedor-whatsapp {
    margin: 1px 60px ;
    font-weight: 900;
    display: block;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.numero-telefono {
    margin-top: 1px ;
    display: flex;
    align-items: center;
}

.numero-telefono img {
    width: 50px;
    margin: 1px 60px;
    margin-right: 1px;
}

.numero-telefono p {
    margin: 1px 60px;
    margin-left: 10px;
    font-weight: 900;
}

/*carrusel*/
.main-cuatro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
}


.carousel-inner {
    background-color: black;
    width: 600px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px; 
    height: 30px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
}

/*footer*/
footer {
    color: white;
    background-color: black;
    margin: 30px 60px;
    padding: 10px 140px 10px 140px;

    display: flex;
    justify-content: space-around;
    align-items: center;


    border-radius: 10px;

    font-weight: 200;
    font-size: 20px;
}
.logym{
    width: 130px;
    border-radius: 100px;
}

